.banner {
    &__content {
        height: 600px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(120deg,#ff886f,#ff3d54);
        border-bottom-left-radius: 120px;
    }

    &__img {
        position: absolute;
        width: 100%;
        top: -489px;
        left: 439px;
        transform: scale(2.23);
        opacity: 1;
        // z-index: -10;
    }

    &__title {
        color: $white;
        font-size: 3.8em;
        line-height: 90px;
        margin-bottom: 15px;
        z-index: 1;
        padding: 0 30px;

        @include responsive-max-width($tablet_m) {
            font-size: 28px;
            line-height: 40px;
        }
    }

    &__p {
        color: $white;
        font-size: 1.4em;
        font-weight: 100;
        z-index: 1;
        margin-bottom: 50px;

        @include responsive-max-width($tablet_m) {
            padding: 0 30px;
            font-size: 16px;
        }
    }

    &__buttons {
        z-index: 1;

        a {
            display: inline-block;
            margin: 0 5px;
        }
    }

}