title !{title_page}
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="title" content="")
meta(name="description", content = description)
link(rel="stylesheet", href="./css/index.css")
link(rel="canonical" href="#")
//- Api para el recaptcha
script(src='https://www.google.com/recaptcha/api.js?onload=recaptchaOnloadCallback&render=explicit' async='' defer='')
//- object config 
if config.name === 'home'
    //- link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Satisfy&display=swap" rel="stylesheet")