footer.footer
    .footer__container 
        .footer__content 
            .footer__left
                .footer__logo 
                    img(src= img_path + "logo.svg", alt="Logo")
            .footer__right
                .footer__product
                    .footer__title Product
                    ul.footer__list
                        li 
                            a(href="#") Overview  
                        li 
                            a(href="#") Pricing  
                        li 
                            a(href="#") Marketplace  
                        li 
                            a(href="#") Features  
                        li 
                            a(href="#") Integrations  
                .footer__company
                    .footer__title Company
                    ul.footer__list
                        li 
                            a(href="#") About  
                        li 
                            a(href="#") Team  
                        li 
                            a(href="#") Blog  
                        li 
                            a(href="#") Careers  
                .footer__connect
                    .footer__title Connect
                    ul.footer__list
                        li 
                            a(href="#") Contact  
                        li 
                            a(href="#") Newsletter  
                        li 
                            a(href="#") LindekIn 