header.header
    .header__container
        .header__content
            .header__left
                .header__logo
                    span 
                        img(src=(img_path + "logo.svg"), alt="Logo")
                ul.header__menu-left
                    li 
                        a(href="javascript:void(0)" data-trigger-number="4") 
                            span Product
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7"><path fill="none" stroke="#e6e6e6" stroke-width="2" opacity=".75" d="M1 1l4 4 4-4"/></svg>
                        ul.container-elements#elements-nav-4
                            li
                                a(href="#") Overview
                            li
                                a(href="#") Pricing
                            li
                                a(href="#") Marketplace
                    li 
                        a(href="javascript:void(0)" data-trigger-number="5") 
                            span Company
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7"><path fill="none" stroke="#e6e6e6" stroke-width="2" opacity=".75" d="M1 1l4 4 4-4"/></svg>
                        ul.container-elements#elements-nav-5
                            li
                                a(href="#") About
                            li
                                a(href="#") Team
                            li
                                a(href="#") Blog
                            li
                                a(href="#") Carers
                    li 
                        a(href="javascript:void(0)" data-trigger-number="6") 
                            span Connect
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7"><path fill="none" stroke="#e6e6e6" stroke-width="2" opacity=".75" d="M1 1l4 4 4-4"/></svg>
                        ul.container-elements#elements-nav-6
                            li
                                a(href="#") Contact
                            li
                                a(href="#") Newsletter
                            li
                                a(href="#") Linkedln
            .header__right
                ul.header__menu-right
                    li 
                        a(href="#") Login 
                    li 
                        a(href="#").button Sign up
            .header__hamburger 
                .menu-hamburger.js-hamburger
                    <svg class="svg-hamburger" width="32" height="18" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="evenodd"><path d="M0 0h32v2H0zM0 8h32v2H0zM0 16h32v2H0z"/></g></svg>
                    <svg class="svg-close" width="26" height="26" xmlns="http://www.w3.org/2000/svg"><path d="M23.607.98l1.414 1.413L14.414 13l10.607 10.607-1.414 1.414L13 14.414 2.393 25.021.98 23.607 11.586 13 .98 2.393 2.393.98 13 11.586 23.607.98z" fill="#FFF" fill-rule="evenodd"/></svg>
