.drawer.js-drawer.drawer--none.drawer--width-80(data-trigger='js-hamburger' data-overlay='js-page-overlay')
    .nav-mobile
        //- .nav-mobile__header
        //-     .nav-mobile__close.js-hamburger
        //-         svg(width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg')
        //-             path(d='M2 2.93411L20 20.9341' stroke='white' stroke-width='4' stroke-miterlimit='10' stroke-linecap='round')
        //-             path(d='M2 20.9341L20 2.93411' stroke='white' stroke-width='4' stroke-miterlimit='10' stroke-linecap='round')
        .nav-mobile__menu
            ul.nav-mobile-list
                li
                    a(href="javascript:void(0)" data-trigger-number="1") 
                        span Product
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7"><path fill="none" stroke="#FF7B86" stroke-width="2" d="M1 1l4 4 4-4"/></svg>
                    ul.container-elements#elements-nav-1
                        li
                            a(href="#") Overview
                        li
                            a(href="#") Pricing
                        li
                            a(href="#") Marketplace
                li
                    a(href="javascript:void(0)" data-trigger-number="2") 
                        span Company
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7"><path fill="none" stroke="#FF7B86" stroke-width="2" d="M1 1l4 4 4-4"/></svg>
                    ul.container-elements#elements-nav-2
                        li
                            a(href="#") About
                        li
                            a(href="#") Team
                        li
                            a(href="#") Blog
                        li
                            a(href="#") Carers
                li
                    a(href="javascript:void(0)" data-trigger-number="3") 
                        span Connect
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7"><path fill="none" stroke="#FF7B86" stroke-width="2" d="M1 1l4 4 4-4"/></svg>
                    ul.container-elements#elements-nav-3
                        li
                            a(href="#") Contact
                        li
                            a(href="#") Newsletter
                        li
                            a(href="#") Linkedln
            ul.nav-mobile-buttons
                li
                    a(href="#") Login
                li
                    a(href="#").button.button-orange Sign up

        