head
    title="Index"
    meta(name='description', content='Index description')
    meta(name='og:title', content="Index")
    link(rel='stylesheet', href='/css/index.css')
body
    h1#main Hello World!
    script(src="/js/index.js")