.container-elements {
  list-style: none;
  padding: 0;
  background: #f5f5f5;
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: all .5s ease;

  @include responsive-width($tablet_m) {
    background: $white;
    position: absolute;
    top: 38px;
    left: -15px;
    padding: 36px 26px;
    margin-top: 0;
    max-height: unset;
    overflow: unset;
    visibility: hidden;
    opacity: 0;
  }

  li {
    @include responsive-width($tablet_m) {
      text-align: left;
      margin: 0 !important;
      padding: 5px 0;
    }
  }

    a {
      font-weight: 600;
      opacity: .8;

      @include responsive-width($tablet_m) {
        color: #25252d !important;
        font-weight: 400;
        opacity: unset;
        font-size: 16px;
      }
    }
}

.show-container-elements {
  height: max-content !important;
  max-height: 500px !important;
  padding: 10px 0 !important;
}

.nav-mobile-list {
  svg {
    transition: all .5s ease;
  }
}

.header__menu-left {
  svg {
    transition: all .5s ease;
  }
}

.active-container-arrow {
  transform: rotate(180deg);
}

//Accordion Desktop
.container-elements-active-desktop {
  @include responsive-width($tablet_m) {
    visibility: unset;
    opacity: 1;
    padding: 36px 26px !important;
  }
}